
@model SonOfCod.Models.Newsletter
@{
    ViewData["Title"] = "Newsletter - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sign Up for the Newsletter</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.title)
    @Html.EditorFor(model => model.title)

    @Html.LabelFor(model => model.letter)
    @Html.TextAreaFor(model => model.letter, new { cols = 50, @rows = 25 })

    @Html.LabelFor(model => model.authorId)
    @Html.EditorFor(model => model.authorId)

    @Html.LabelFor(model => model.date)
    @Html.EditorFor(model => model.date)

    <input type="submit" value="Create" class="btn btn-default" />
}
@Html.ActionLink("Back to List", "Index")