@model IEnumerable<SonOfCod.Models.Newsletter>

@{
    ViewData["Title"] = "Newsletter - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Son Of Cod Newsletters</h2>
<hr />
<p>
    @Html.ActionLink("Add New Newsletter", "Create")
</p>
<table>
    <tr>
        <th>
            <h5>Title |</h5>
        </th>
        <th>
            <h5>Date |</h5>
        </th>
        <th>
            <h5>Letter |</h5>
        </th>
        <th>
            <h5>Author</h5>
        </th>
        <th></th>
    </tr>

    @foreach (var nl in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => nl.title) --
            </td>
            <td>
                @Html.DisplayFor(model => nl.date) --
            </td>
            <td>
                @Html.DisplayFor(model => nl.letter) --
            </td>
            <td>
                @Html.DisplayFor(model => nl.authorId) --
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = nl.id })
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = nl.id })
                    @Html.ActionLink("Delete", "Delete", new { id = nl.id })
                </td>
            }
        </tr>

    }
</table>